
/* logo details */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header{
    background-color:white
}

#logo{
    width: 49px;
    height: 49px;
    
}

#title{
    display: inline-block;
    margin-left: 40px;
}
/* body  */

body{
    background-color:grey

}


/* first two buttoms */
article{
    background-color: brown;
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}

#blue{ 
    display: inline-block;
    margin-left: 219px;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 15px;

}

#lightgray{
    color:darkgray;
    background-color:white;
    border:darkgray;
    margin-left:50px;
    display: inline ;
    padding: 10px;
    border-radius: 15px;

}