
/* logo details */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header{
    background-color:white
}

#logo{
    width: 49px;
    height: 49px;
    
}

#title{
    display: inline-block;
    margin-left: 40px;
}
/* body  */

body{
    background-color:grey
}


/* first two buttoms */
article{
    background-color: brown;
    margin-top: 126 px;
    margin-left: 168;
}

#blue{ 
    display: inline-block;
    margin-left: 219px;
    color: white;
    background-color: dodgerblue;
}

#lightgrey{
    color:darkgray;
    background-color:white
    border:darkgray;
    margin-left: 290px;
    display: inline-block;

}